{% extends 'menu.html.twig' %}
{% block inner %}
	<div class="box box-primary">
		<div class="box-header with-border">
    		<h3 class="box-title"> {{title}} </h3>
		</div>
		<div class="box-body">
			{{ form_start(form) }}
			<div class="form-group">
			{{ form_label(form.nom) }}
    		{{ form_widget(form.nom) }}
			</div>
			<div class="form-group">
			{{ form_label(form.establiment) }}
    		{{ form_widget(form.establiment) }}
			</div>
			<div class="form-group">
			{{ form_label(form.save) }}
    		{{ form_widget(form.save) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

