{% extends 'menu.html.twig' %}

{% block inner %}
	<a class="btn btn-primary color-btn up-page" role="button" href="{{ path('crearDepartament') }}">Crear nou departament</a>
    <div class="box">
		<div class="box-header"><h3 class="box-title">{{ title }}</h3></div>
	<div class="box-body table-responsive no-padding">
	<table class="table table-hover">
		<tr>
			<th>Nom Departament</th>
			<th>Establiment</th>
			<th>Editar</th>
			<th>Esborrar</th>
		</tr>
    {% for departament in departaments %}
	{% if departament.activat == true %}
		<tr>
			<td>{{ departament.nom }}</td>
			<td>{{ departament.establiment }} </td>
			<td><a href="{{ path('editarDepartament', {'id': departament.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
			<td><a href="{{path('deshabilitarDepartament', {'id': departament.id})}}"><i class="fa fa-times" aria-hidden="true" onclick="return confirm('Estas segur que vols elimnar aquest departament?');"></i></a></td>
		</tr>
		{% endif %}
    {% endfor %}
	</table>
	</div>
	</div>
	
{% endblock %}



