{% extends 'menu.html.twig' %}

{% block inner %}
	<p>{{ message }}</p>
	<h1>{{ title }}</h1>
	{% if establiment is not empty %}
		<p>Nom: {{ establiment.nom }}</p>
	{% endif %}
	{% if form is not empty %}
		{{ form_start(form) }}
    	{{ form_widget(form) }}
    	{{ form_end(form) }}
	{% endif %}
{% endblock %}
