{% extends 'menu.html.twig' %}
{% block inner %}
	<a class="btn btn-primary color-btn up-page" role="button" href="{{ path('crearEstabliment') }}">Crear nou establiment</a>
    <div class="box">
		<div class="box-header"><h3 class="box-title">{{ title }}</h3></div>
		<div class="box-body table-responsive no-padding">
		<table class="table table-hover">
			<tr>
				<th>Nom Establiment</th>
				<th>Editar</th>
				<th>Esborrar</th>
			</tr>
		{% for establiment in establiments %}
		{% if establiment.activat != false %}
			<tr>
				<td>{{ establiment.nom }}</td>
				<td><a href="{{ path('editarEstabliment', {'id': establiment.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
				<td><a href="{{ path('eliminarEstabliment', {'id': establiment.id}) }}" onclick="return confirm('Estas segur que vols elimnar aquest establiment?');"><i class="fa fa-times" aria-hidden="true"></i></a></td>
			</tr>
		{% endif %}
		{% endfor %}
		</table>
		</div>
	</div>
{% endblock %}
