{% extends 'base.html.twig' %}

<div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Generador d'horaris</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Inici</a></li>
          <li><a href="{{ path('establiment') }}">Establiments</a></li>
          <li><a href="#">Departaments</a></li>
          <li><a href="#">Empleats</a></li>
          <li><a href="{{ path('creaHorariEstabliment') }}">Crear horaris</a></li>
          <li><a href="{{ path('horaris') }}">Veure Horaris</a></li>
        </ul>
      </div>
    </div>
