{% extends 'menu.html.twig' %}

{% block body %}
<div class="login-background">
	<div class="container-fluid">
	   <div class="row">
		  <div class="col-md-12 text-center">
		     <section class='login'>
		        <h3> Login </h3>
		        <div class="col-md-4 col-md-offset-4 text-center">
		           <form action="{{ path('login') }}" method="post">
		              <p><input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'usuari"/></p>
		              <p><input class="form-control" type="password" id="password" name="_password" placeholder="Contrasenya"/></p>
		              {% if error %}
		              <p>
		              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		              </p>
		              {% endif %}
		              <p><button type="submit" class="btn btn-success">Entrar</button></p>
		           </form>
		        </div>
		     </section>
		  </div>
	   </div>
	</div>
</div>
{% endblock %}

