<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Generador d'horaris{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('img/logogenhor.ico') }}" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  {% block stylesheets %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">

  {% block body %}{% endblock %}
  
  <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" ></script>
  <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}" ></script>
  <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" ></script>
  <script src="{{ asset('dist/js/adminlte.min.js') }}" ></script>
  <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}" ></script>
  <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}" ></script>

  {% block javascripts %}{% endblock %}
</body>
</html>
