{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
  <header class="main-header">

    <a href="/" class="logo">
    
      <span class="logo-mini"><img class="icon-logo" src="{{ asset('img/logogenhor-small.png') }}" width="32px" height="32px" /></span>
      <span class="logo-lg"><img class="icon-logo" src="{{ asset('img/logogenhor-small.png') }}" width="32px" height="32px" /> Gen<strong>Hor</strong></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">

      <a href="/" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
          </li>
    </ul>
    </div>
      
  </header>
  <aside class="main-sidebar">

  <section class="sidebar">
    
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"></li>

    {# Menú establiment #}
    <li class="treeview">
      <a href="{{ path('establiments') }}"><i class="fa fa-link"></i> <span>Establiments</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('establiments') }}">Veure establiments</a></li>
            <li><a href="{{ path('crearEstabliment') }}">Afegeix un establiment</a></li>
          </ul>
        </li>
    
    {# Menú departament #}
    <li class="treeview">
      <a href="{{ path('departaments') }}"><i class="fa fa-link"></i> <span>Departaments</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('departaments') }}">Veure departaments</a></li>
            <li><a href="{{ path('crearDepartament') }}">Afegeix un departament</a></li>
          </ul>
        </li>

    {# Menú empleat #}
    <li class="treeview">
      <a href="{{ path('empleats') }}"><i class="fa fa-link"></i> <span>Empleats</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('empleats') }}">Veure empleats</a></li>
            <li><a href="{{ path('creaEmpleat') }}">Afegeix un empleat</a></li>
       <li><a href="{{ path('importarEmpleat') }}">Importar empleats</a></li>
          </ul>
        </li>

    {# Menú Horaris #}
    <li class="treeview">
      <a href="{{ path('horaris') }}"><i class="fa fa-link"></i> <span>Horaris</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('horaris') }}">Veure horaris</a></li>
            <li><a href="{{ path('creaHorariEstabliment') }}">Crea un horari</a></li>
          </ul>
        </li>   
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">

    <section class="content container-fluid">

  {# content #}
  {% block inner %}{% endblock %}

    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Generador d'horaris
    </div>
    <strong>Copyright &copy; 2018 <a href="/">Joan C, Miquel V & Arantxa C</a>.</strong> All rights reserved.
  </footer>

  <div class="control-sidebar-bg"></div>
</div>
{% endblock %}
