{% extends 'menu.html.twig' %}
{% block inner %}
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    {% for departament in deps %}
        <tr>
            <td>{{ departament.id }}</td>
            <td>{{ departament.nom }}</td>
            <td>{{ departament.establiment }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
