{% extends 'menu.html.twig' %}

{% block inner %}
	<div class="box box-primary">
		<div class="box-header with-border">
	<h3 class="box-title">Creant horari</h3>
	{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
		</div>
	<div id="info" class="hidden">
		<p id="data">{{ dia }}</p>
		<p id="horari-id">{{ horariId }}</p>
	</div>
	<h1><span id="establiment">{{ nomEstabliment }}</span> - <span id="departament">{{ nomDepartament }}</span></h1>
	<h2><span id="horari-titol">{{ horariTitol }}</span></h2>
	<div class="box-body table-responsive no-padding">
	<table class="table table-hover">
		<tr>
			<th>Empleat</th>
			<th>Dilluns</th>
			<th>Dimarts</th>
			<th>Dimecres</th>
			<th>Dijous</th>
			<th>Divendres</th>
			<th>Dissabte</th>
			<th>Diumenge</th>
		</tr>
		{% for empleat in empleats %}
			<tr id="empleat-{{ empleat.dni }}">
				<td class="nom-empleat">{{ empleat.nom }} {{ empleat.cognom1 }} {{ empleat.cognom2 }}</td>
				<td id="dia-1" class="form-dia">-</td>
				<td id="dia-2" class="form-dia">-</td>
				<td id="dia-3" class="form-dia">-</td>
				<td id="dia-4" class="form-dia">-</td>
				<td id="dia-5" class="form-dia">-</td>
				<td id="dia-6" class="form-dia">-</td>
				<td id="dia-7" class="form-dia">-</td>
			</tr>
		{% endfor %}
	</table>
	<div class="box-body">
		<div id="button-form">
			<button id="crear-horari" class="btn btn-success">Crear</button>
			<button id="crear-imprimir-horari" class="btn btn-success">Crear i imprimir</button>
		</div>
	</div>
	</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('lib/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('js/crear-horari.js') }}"></script>
{% endblock %}
