{% extends 'menu.html.twig' %}

{% block javascripts %}
<script src="{{ asset('lib/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('lib/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/functions.js') }}"></script>
{% endblock %}

{% block inner %}
	<div class="box box-primary">
		<div class="box-header with-border">
    		<h3 class="box-title"> {{title}} </h3>
		</div>
		<div class="box-body">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
