{% if messages is not empty %}
	<div class="info">
		<ul class="info-bubble">
		{% for message in messages %}
        	<li>{{ message }}</li>
    	{% endfor %}
		</ul>
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	</div>
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% block javascripts %}
	<script>
		$(".info-bubble").each(function() {
			let h = $(this).height() + 20;
			$(this).css("margin-top", "-"+h+"px");
		});
	</script>
{% endblock %}
