{% extends 'menu.html.twig' %}

{% block inner %}
	<a class="btn btn-primary color-btn up-page" role="button" href="{{ path('creaHorariEstabliment') }}">Crear nou horari</a>
    {% for horari in horaris %}
		<div class="info-box">
			<span class="info-box-icon bg-aqua">
				<a class="color-btn" href="{{ path('veureHorari', {'id': horari.id}) }}"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
			</span>
			<div class="info-box-content">
				<span class="info-box-text"> {{ horari.titol }}</span>
				<span class="info-box-text"> {{ horari.departament.nom }} - {{ horari.departament.establiment.nom }}</span>
				<span class="info-box-number"> {{ horari.any }}/{{ horari.mes }}</span>
				<span class="progress-description">
					<a href="{{ path('editarHorari', {'id': horari.id}) }}">Edita</a>
					<a href="#" class="disabled">Elimina</a>
					<a href="{{ path('imprimirHorari', {'id': horari.id}) }}">Imprimeix</a>
				</span>
			</div>
		</div>
    {% endfor %}
{% endblock %}
