{% extends 'menu.html.twig' %}

{% block inner %}
	<div class="box box-primary">
	<div id="info" class="hidden">
		<p id="data">{{ dia }}</p>
		<p id="horari-id">{{ horariId }}</p>
	</div>
	<div class="box-body">
	<div id="horaris_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<h1><span id="establiment">{{ nomEstabliment }}</span> - <span id="departament">{{ nomDepartament }}</span></h1>
	<h2><span id="horari-titol">{{ horariTitol }}</span></h2>
	<table id="horaris" class="table table-hover">
		<thead>
		<tr>
			<th>Empleat</th>
			<th>Dilluns</th>
			<th>Dimarts</th>
			<th>Dimecres</th>
			<th>Dijous</th>
			<th>Divendres</th>
			<th>Dissabte</th>
			<th>Diumenge</th>
		</tr>
		</thead>
		{% for empleat in empleats %}
			<tr id="empleat-{{ empleat.dni }}">
				<td class="nom-empleat">{{ empleat.nom }} {{ empleat.cognom1 }} {{ empleat.cognom2 }}</td>
				<td id="dia-1" class="form-dia">-</td>
				<td id="dia-2" class="form-dia">-</td>
				<td id="dia-3" class="form-dia">-</td>
				<td id="dia-4" class="form-dia">-</td>
				<td id="dia-5" class="form-dia">-</td>
				<td id="dia-6" class="form-dia">-</td>
				<td id="dia-7" class="form-dia">-</td>
			</tr>
		{% endfor %}
	</table>
	</div>
	</div>
		<div class="box-body">
			<a href="{{ path('editarHorari', {'id': horariId}) }}" class="btn btn-success">Edita</a>
			<button id="imprimir-horari" class="btn btn-success" disabled="disabled">Imprimeix</button>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('lib/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('js/dataTables.js') }}" ></script>
	<script src="{{ asset('lib/pdfmake.min.js') }}"></script>
	<script src="{{ asset('lib/vfs_fonts.js') }}"></script>
	<script src="{{ asset('js/veure-horari.js') }}"></script>
{% endblock %}
