#establiment, #horari-titol {
	padding-left: 16px;

}

#form_save {
	margin-top: 10px;
}

.info-bubble {
	position: absolute;
	background: #f39c12;
	border-radius: .4em;
	padding: .5em;
	display: inline-block;
	color: white;
}

.info-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 4%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-top-color: #f39c12;
	border-bottom: 0;
	margin-left: -0.625em;
	margin-bottom: -0.625em;
}

.info-bubble, .info-bubble:after {
	visibility: hidden;
}

.info:hover .info-bubble, .info:hover .info-bubble:after {
	visibility: visible;
}

.info-bubble li {
	list-style-type: none;
}

.info-bubble li:not(:first-child) {
	border-top: 1px solid black;
}

.login-background {
	background-color: #FFF;
}

.up-page {
	margin-bottom: 10px;
}

.color-btn {
	color: white;
}

a.disabled {
  color: gray;
  pointer-events: none;
}
