{% extends 'menu.html.twig' %}
{% block inner %}
	<div class="box box-primary">
		<div class="box-header with-border">
    		<h3 class="box-title"> Importar empleats </h3>
		</div>
		<form action='/enviar' method='post' enctype="multipart/form-data">
   Importar arxiu : <input type='file' name='sel_file' size='20'>
   <input type='submit' name='submit' value='Pujar usuaris...'>
	</div>
{% endblock %}