{% extends 'menu.html.twig' %}
{% block inner %}
	<a class="btn btn-primary color-btn up-page" role="button" href="{{ path('creaEmpleat') }}">Crear nou empleat</a>
    <div class="box">
		<div class="box-header"><h3 class="box-title">{{ title }}</h3></div>
	<div class="box-body">
	<div id="emplats_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<table id="empleats" class="table table-bordered table-hover dataTable">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Cognom 1</th>
			<th>Cognom 2</th>
			<th>Treballa el cap de setmana?</th>
			<th>Departaments</th>
			<th>Editar</th>
			<th>Esborrar</th>
		</tr>
		</thead>
    {% for empleat in empleats %}
		<tr>
			<td>{{ empleat.nom }}</td>
			<td>{{ empleat.cognom1 }}</td>
			<td>{{ empleat.cognom2 }}</td>
			<td>{{ empleat.treballaCapSetmana ? 'Sí' : 'No' }}</td>
			<td><select class="form-control" multiple="" disabled="">
			{% for dep in empleat.arrayDeps %}
				{% if dep.activat != false %}			
				<option>{{ dep }} - {{ dep.establiment.nom }}</option>
				{% endif %}
			{% endfor %}
			</select></td>
			<td><a href="{{ path('editarEmpleat', {'dni': empleat.dni}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
			<td><a href="{{path('deshabilitarEmpleat', {'dni': empleat.dni})}}"><i class="fa fa-times" aria-hidden="true" onclick="return confirm('Estas segur que vols elimnar aquest empleat?');"></i></a></td>
		</tr>
    {% endfor %}
	</table>
	</div>
	</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/dataTables.js') }}" ></script>
{% endblock %}

